.DS_Store
Thumbs.db
*.log
*.tmp
.vscode/
.idea/
node_modules/

# Environment and Config
*.env
**/dbconfiguration.yml
frontend/dev/urls.js
frontend/prod/urls.js
backend/dev/dbconfiguration.yml
backend/dev/dbconfiguration.yml

# Local configuration
**/.htaccess
