services:
  # MySQL Database (Private Service)
  - type: pserv
    name: mysql-flash
    env: docker
    dockerContext: .
    dockerfilePath: backend/dev/Dockerfile_mysql # We'll create this to handle init scripts
    envVars:
      - key: MYSQL_ROOT_PASSWORD
        generateValue: true
      - key: MYSQL_DATABASE
        value: films
      - key: MYSQL_USER
        value: user_films_prod
      - key: MYSQL_PASSWORD
        generateValue: true

  # Backend API (PHP)
  - type: web
    name: flash-backend
    env: docker
    dockerContext: .
    dockerfilePath: backend/prod/Dockerfile
    plan: free # Use free tier
    envVars:
      - key: BACKEND_PORT
        value: 80
      - key: MYSQL_ROOT_PASSWORD
        fromService:
          name: mysql-flash
          envVarKey: MYSQL_ROOT_PASSWORD
      - key: MYSQL_DATABASE
        value: films
      - key: MYSQL_USER
        value: user_films_prod
      - key: MYSQL_PASSWORD
        fromService:
          name: mysql-flash
          envVarKey: MYSQL_PASSWORD

  # Frontend (Apache)
  - type: web
    name: flash-frontend
    env: docker
    dockerContext: .
    dockerfilePath: frontend/prod/Dockerfile
    plan: free
    envVars:
      - key: PORT
        value: 80
