services:
  - type: web
    name: flash-full-stack
    env: docker
    plan: free
    dockerContext: .
    dockerfilePath: Dockerfile.render
    envVars:
      - key: DB_HOST
        value: localhost
      - key: MYSQL_DATABASE
        value: films
      - key: MYSQL_USER
        value: user_films_prod
      - key: MYSQL_PASSWORD
        value: pass_films_prod
